@import 'bootstrap';
@import './bootstrap-icons.css';

body {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #203154;
}

/* #region SETTAGGI DONE */
.darker-grotesque {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg-navbar {
    background-color: #171D25;
}

.bg-section-claire {
    background-color: #203154;
}

.bg-section-fonce {
    background-color: #1B2838;
}

.color-grey-secondary {
    color: #7A8B9D;
}

.color-grey-secondary:hover {
    color: #66BBD0;
}

/* #endregion */


/* #region NAV DONE */
nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .darker-grotesque {
    font-weight: 700;
}

.nav-link {
    color: whitesmoke !important;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-link:hover {
    transition: all 0.1s linear;
    transform: scale(1.02);
    color: #7A8B9D !important;
}

nav i {
    color: white;
    font-size: 1.2rem;
}

.navbar-toggler {
    background-color: #7A8B9D;
}

/* #endregion */

.header {
    min-height: 80vh;
    padding: 2rem;
    color: white;
}

.accordion-button {
    background-color: #171d25;
    font-size: 1.2rem;
    color: white;
}

.accordion-item {
    background-color: #171D25;
    color: white;
}

/* #region BTN */
.btn {
    border: 2px solid white;
    color: white;
    font-size: 1.2rem;
}

.btn:hover {
    transition: all 0.1s linear;
    border: 2px solid #7A8B9D;
    transform: scale(1.08);
}

.btn-submit:hover {
    background-color: #66BBD0;
}

/* #endregion */

/* #region FORM */

/* #region form register/login */
.form-user .form-control {
    border: 1px solid #66BBD0;
    color: #203154;

}

.form-user {
    margin-top: 1rem;
    padding: 1rem 6rem;
}

.form-user label {
    font-size: 1.5em;
    background-color: #203154;
    color: whitesmoke;
    margin-top: 0.3rem;
}

.form-user button:hover {
    color: white;
}

/* #endregion */

.gestione-form{
    color: white;
    border: #7A8B9D solid 2px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
}
.gestione-form button{
    width: max-content;
}

/* #endregion */

.modal button {
    margin: 0.1rem;
}

.modal button:hover {
    transition: all 0.1s linear;
    transform: scale(1.02);
    color: white;
}