@import 'bootstrap';
@import './bootstrap-icons.css';

body {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #203154;
}

/* #region SETTAGGI DONE */
.darker-grotesque {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg-navbar {
    background-color: #171D25;
}

.bg-section-claire {
    background-color: #203154;
}

.bg-section-fonce {
    background-color: #1B2838;
}

.color-grey-secondary {
    color: #7A8B9D;
}

.color-grey-secondary:hover {
    color: #66BBD0;
}

/* #endregion */


/* #region NAV DONE */
nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .darker-grotesque {
    font-weight: 700;
}

.nav-link {
    color: whitesmoke !important;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-link:hover {
    transition: all 0.1s linear;
    transform: scale(1.02);
    color: #7A8B9D !important;
}

nav i {
    color: white;
    font-size: 1.2rem;
}

.navbar-toggler {
    background-color: #7A8B9D;
}

/* #endregion */

/* #region WELCOME */
.header {
    min-height: 80vh;
    padding: 2rem;
    color: white;
}

.accordion-button {
    background-color: #171d25;
    font-size: 1.2rem;
    color: white;
}

.accordion-item {
    background-color: #171D25;
    color: white;
}

/* #endregion */

/* #region BTN */
.btn {
    border: 2px solid white;
    color: white;
    font-size: 1rem;
}

.btn:hover {
    transition: all 0.1s linear;
    border: 2px solid #7A8B9D;
    transform: scale(1.08);
}

.btn-submit:hover {
    background-color: #66BBD0;
}

.btn-delete {
    background-color: red !important;
    border: red solid 2px;
}

.btn-delete i {
    background-color: red;
}

.btn-delete:hover {
    background-color: red;
    border: red solid 2px;
}

.btn-delete i:hover {
    color: white;
    background-color: red;
}

.btn-edit {
    background-color: #7A8B9D !important;
    border: #7A8B9D solid 2px;
    padding: 0.5rem;
}

.btn-edit i {
    background-color: #7A8B9D;
    color: black;
}

.btn-edit:hover {
    background-color: #7A8B9D;
    border: #7A8B9D solid 2px;
}

.btn-edit i:hover {
    color: white;
    background-color: #7A8B9D;
}

.btn-edit:active {
    background-color: #7A8B9D !important;
}

.btn-edit i:active {
    border: none !important;
}


/* #endregion */

/* #region FORM */

/* #region form register/login */
.form-user .form-control {
    border: 1px solid #66BBD0;
    color: #203154;

}

.form-user {
    margin-top: 1rem;
    padding: 1rem 6rem;
}

.form-user label {
    font-size: 1.5em;
    background-color: #203154;
    color: whitesmoke;
    margin-top: 0.3rem;
}

.form-user button:hover {
    color: white;
}

/* #endregion */

.gestione-form-modal {
    color: white;
    border-radius: 10px;
    font-size: 1.3rem;
    width: 80%;
}

.edit-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-scroll {
    overflow-y: ;
}


/* #endregion */

/* #region modal */
.modal button {
    margin: 0.1rem;
}

.modal button:hover {
    transition: all 0.1s linear;
    transform: scale(1.02);
    color: white;
}


/* #endregion */

/* #region ASIDE */
.aside-left {
    top: 25%;
    display: flex;
    flex-direction: column;
    padding: 0rem;
}
.aside-left button {
    margin: 1rem;
    padding: 2rem;
}

.aside-left button:hover {
    transition: all 0.1s linear;
    transform: scale(1.02);
    color: whitesmoke;
}

.aside-right {
    justify-content: center;
    color: whitesmoke;
    padding: 0rem 1.5rem;
    border-radius: 12px;
}
.aside-right button {
    width: max-content;
}
.aside-right button:hover {
    transition: all 0.1s linear;
    transform: scale(1.02);
    color: whitesmoke;
}
.aside-right input {
    width: 90%;
}
.aside-right .form-check-input {
    width: 1rem;
}
.aside-right .accordion-item {
    background-color: #203154;
}
.aside-right .accordion-button {
    background-color: #203154;
    border: #7A8B9D 2px solid;
    margin: 1rem;
}
/* #endregion */

/* #region container games */
.container-games {
    border: #171d25 1px solid;
    border-radius: 12px;
    background-color: #1B2838;
    padding: 1rem 1rem;
}

.container-games .card {
    padding: 1rem;
    background-color: #1B2838;
    color: whitesmoke;
    border: #171D25 0px solid;
}

.container-games .card:hover {
    transition: all 0.2s linear;
    transform: scale(1.02);
}

/* #endregion */

@media screen and (max-width: 768px) {
    .aside-left {
        position: relative;
    }
}